﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    <!-- Boostrap Css -->
    <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <!-- End of Boostrap Css -->
    <!-- Site Css -->
    <link href="~/Content/Site.css" rel="stylesheet" />
    <!-- End of Site Css -->
    <!-- Boostrap Scripts -->
    <script src="~/Scripts/jquery-3.2.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <!-- End of Boostrap Scripts -->

</head>
<body>
    <!-- WorkCube Logo Start Point -->
    <div class="container-fluid" style="text-align:right">
        <img src="~/Resources/Page6/SmallCirclesForPage6.png" />
    </div>
    <!-- WorkCube Logo End Point -->

    <div class="container-fluid">
        @RenderBody()
    </div>

</body>
</html>