﻿@model WorkCubeFormMvc.Models.Testers
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Welcome Developer</title>
    <!-- Boostrap Scripts -->

    <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />


    <script src="~/Scripts/jquery-3.2.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <!-- End of Boostrap Scripts -->
</head>
<body>

    <!-- Page1 Start Point -->
    <div class="container" style="text-align: center; background-color:white">
        <div class="row">
            <br style="font-size: 50px" /> <!-- Space -->
            <!-- Start Image Definition -->
            <div class="col-xs-12">
                <img src="~/Resources/Index/WorkcubeCircles.png" />
            </div>
            <!-- End Image Definition -->

            <br style="font-size: 50px" /> <!-- Space -->
            <!-- Start Text Definition -->
            <div class="col-xs-12" style="font-size: 80px;">
                <b style="color: #ED7D31">{</b>
                <b style="color: #7F7F7F">Welcome</b>
                <b style="color: #ED7D31">}</b>
                <br />
                <b style="color: #9DC3E6"><</b>
                <b style="color: #92D050">Developer</b>
                <b style="color: #9DC3E6">/></b>
            </div>
            <!-- End Text Definition -->
            @using (Html.BeginForm())
            {
                <div style="width:500px;" class="center-block">
                    <span class="input-group-addon" id="ad">Ad</span>
                    @Html.TextBoxFor(x => x.testerName, new { @class = "form-control", placeholder = "Adınız", aria_label = "Ad", aria_describedby = "ad" })
                    <!-- Start Button Definition-->
                </div>
                <br />
                if (ViewBag.Result != null)
                {
                    <div class="alert-danger" style="font-size:15px;">
                        <span>@ViewBag.Result</span>
                    </div>
                }

                <div class="col-xs-12" style="margin-top:10px">
                    <input type="submit" value="Forma Başla" class="btn btn-success"/>
                </div>
            <!-- End Button Definition-->
            }
        </div>
    </div>
    <!-- Page1 End Point -->

</body>
</html>
