﻿
@{
    ViewBag.Title = "Page8";
}

<style>
    #sag {
        text-align: right;
    }

    #altaBosluk {
        margin-bottom: 10px;
    }
</style>

<div class="container">
    <div class="row col-xs-12" style="color:black">
        @HelperMethods.Title("Workcube Catalyst Desteği ve Alt Yapısı", "gray")
        <div style="margin-top:25px;">
            <div class="row col-md-3 col-xs-12">
                <img src="~/Resources/Page8/catalystTasarim.png" />
            </div>
            <div class="col-md-9 col-xs-12" style="font:bold 25px arial; margin-bottom:10px">
                <span>Chrome - Safari</span>
                <br />
                <img style="margin-top:25px" src="~/Resources/Page8/catalystFolder.png" />
                <span>W3C Dosyaları</span>
                <img src="~/Resources/Page8/catalystGit.png" />
                <br />
                <div>
                    <span>HTTP Server – IIS</span>
                </div>
                <div>
                    <img src="~/Resources/Page8/catalystLine.png" />
                    <img src="~/Resources/Page8/catalystMail.png" />
                </div>
                <div id="altaBosluk">
                    <span style="margin-bottom:50px">J2EE Server: Tomcat+ColdFusion</span> <span style="color:gray"> / 16</span>
                    <span style="margin-left:170px">Mail Server</span>
                </div>
                <div id="altaBosluk">
                    <span>Database: MS SQL</span> <span style="color:gray"> / 2014 Standart +</span>
                </div>
                <div id="altaBosluk">

                    <span>Windows Server</span> <span style="color:gray"> / 2012 r2</span>
                </div>
                <div>
                    <span>Hyper-V veya VMware</span>
                </div>
                <div style="margin:0px; text-align:right">
                    @Html.ActionLink("Sonraki Sayfaya Devam Et", "Page9", "Form", null, new { @class = "btn btn-success btn-lg" })
                </div>
            </div>
        </div>
    </div>
</div>


