﻿@model Page2View.TechnologiesVM
@{
    ViewBag.Title = "Page2";
}

@using (Html.BeginForm())
{
    <div class="container">
        <div class="row col-xs-12 bilgi" style="color:black">
            @HelperMethods.Title("Kendini Skorla!")
            <br />
            <i>Bilgi Düzeyini 0 ile 5 puan arasında notlar mısın? (0=Hiç 5= İleri Seviye)</i>
        </div>
    </div>
    <hr style="color:black" />
    <div class="container" style="color:gray">


        @for (int i = 0; i < Model.Languages.Count; i++)
        {


            if (i % 6 == 0)
            {
                <div class="row">

                    <div class="col-md-1 ">
                        @Html.HiddenFor(m => m.Languages[i].ID)
                        @Html.HiddenFor(m => m.Languages[i].Name)
                        @Html.LabelFor(m => m.Languages[i].Score, Model.Languages[i].Name, new { style = "font:15px arial" })
                    </div>
                    <div class="col-md-offset-1">
                        @("(")
                        @Html.TextBoxFor(m => m.Languages[i].Score, new { style = "width:20px; height:20px; paddign:0px;" })
                        @(")")
                        @Html.ValidationMessageFor(m => m.Languages[i].Score)
                    </div>
                </div>
            }
            else
            {
                <div class="col-md-1 ">
                    @Html.HiddenFor(m => m.Languages[i].ID)
                    @Html.HiddenFor(m => m.Languages[i].Name)
                    @Html.LabelFor(m => m.Languages[i].Score, Model.Languages[i].Name, new { style = "font:15px arial" })
                </div>
                <div class="col-md-1">
                    @("(")
                    @Html.TextBoxFor(m => m.Languages[i].Score, new { style = "width:20px; height:20px; paddign:0px;" })
                    @(")")
                    @Html.ValidationMessageFor(m => m.Languages[i].Score)
                </div>
            }
        }
    </div>
    <hr style="color:black" />
    <div class="container" style="color:gray">
        @for (int i = 0; i < Model.Technologies.Count; i++)
        {
            if (i % 6 == 0)
            {
                <div class="row">
                    <div class="col-md-1 ">
                        @Html.HiddenFor(m => m.Technologies[i].ID)
                        @Html.HiddenFor(m => m.Technologies[i].Name)
                        @Html.LabelFor(m => m.Technologies[i].Score, Model.Technologies[i].Name, new { style = "font:13px arial; color:gray" })
                    </div>
                    <div class="col-md-offset-1 ">
                        @("(")
                        @Html.TextBoxFor(m => m.Technologies[i].Score, new { style = "width:20px; height:20px; paddign:0px;" })
                        @(")")
                        @Html.ValidationMessageFor(m => m.Languages[i].Score)
                    </div>
                </div>
            }
            else
            {
                <div class="col-md-1 ">
                    @Html.HiddenFor(m => m.Technologies[i].ID)
                    @Html.HiddenFor(m => m.Technologies[i].Name)
                    @Html.LabelFor(m => m.Technologies[i].Score, Model.Technologies[i].Name, new { style = "font:15px arial; color:gray" })
                </div>
                <div class="col-md-1 ">
                    @("(")
                    @Html.TextBoxFor(m => m.Technologies[i].Score, new { style = "width:20px; height:20px; paddign:0px;" })
                    @(")")
                    @Html.ValidationMessageFor(m => m.Languages[i].Score)
                </div>
            }
        }
    </div>
    <hr style="color:black" />
                <div class="container" style="color:gray;">
                    <span>Kullandığınız IDE’ler (yazınız)</span>
                    <br />
                    <div class="row col-xs-12" style="margin-bottom:10px; text-align:left">
                        @Html.TextAreaFor(m => m.Notes, new { rows = 3, style = "background-image:url(../Resources/HelperMethod/bosluk.png); background-position:center; background-repeat:no-repeat; width:1150px" })
                        @Html.ValidationMessageFor(m => m.Notes)
                    </div>
                </div>
                <div class="container" style=" margin-bottom:10px">
                    <div class="row col-xs-12" style="text-align:right">
                        <input type="submit" value="Sonraki Sayfaya Devam Et" class="btn btn-success" />
                    </div>
                </div>
}
