﻿@model QuestionView
@{
    ViewBag.Title = "Page3";
}


@using (Html.BeginForm())
{
    <div class="container">

        <div class="row col-xs-12 bilgi" style="color:black">
            @HelperMethods.Title("Başka ne biliyorsun, ilgilisin veya öğreniyorsun ?")
            <br />
            <i>Her alanda bildiklerini veya öğrenmeye çalıştıklarını yazabilirsin?</i>
            <br />
            <i>(müzik, tezhip, dağcılık, muhasebe, boks ne varsa)</i>
            <br />

            <div class="row col-xs-12" style="margin-bottom:10px;">
                @Html.TextAreaFor(x => x.answer, new { rows = 16, style = "background-image:url(../Resources/HelperMethod/bosluk.png); background-position:center; background-repeat:no-repeat; width:1150px" })
                @Html.ValidationMessageFor(x => x.answer)
            </div>
        </div>
    </div>
    <div class="container-fluid" style="text-align:right;">
     <input type="submit" value="Sonraki Sayfaya Devam Et" class="btn btn-success"/>
    </div>
}
