﻿@model QuestionView
@{
    ViewBag.Title = "Page4";
}
@using (Html.BeginForm())
{
    <div class="container">
        <div class="row col-xs-12 bilgi" style="color:black">
            @HelperMethods.Title("Varmak istediğin yer neresi?")
            <br />
            <i>Amaç, hedef, menzil, istikamet, niyet, objective, purpose, idea, plan….</i>
            <br />
            <div style="margin-bottom:10px;">
                @Html.TextAreaFor(x => x.answer, new { id = "purpose", rows = 18, style = "background-image:url(../Resources/HelperMethod/bosluk.png); background-position:center; background-repeat:no-repeat; width:1200px" })
            </div>
        </div>
    </div>
    <div class="container-fluid" style="text-align:right;">
        <input type="submit" value="Sonraki Sayfaya Devam Et" class="btn btn-success" />
    </div>
}
