﻿@{
    Layout = "~/Views/Shared/_LayoutForPage6.cshtml";
    ViewBag.Title = "Page6";
}
<style>
    #bgimage {
        background-image: url(../../Resources/Page6/bg.png);
        background-repeat: no-repeat;
        background-position-x: right;
        background-position-y: bottom;
    }

    #firstRound {
        color: white;
        font: italic bold 36px arial;
    }

    #Rinfo {
        margin-top: 50px;
    }

    #fRinfo {
        color: gray;
        font: italic 20px arial;
        margin-left:150px;
        margin-top:0px;
    }

    #secondRound {
        color: white;
        font: italic bold 72px arial;
    }

    #sRinfo {
        color: gray;
        font: italic 20px arial;
        margin-top: 100px;
        margin-left:150px
    }

    #thirdRound {
        color: white;
        font: italic bold 72px arial;
    }
</style>
<body id="bgimage" class="container-fluid">
</body>
<div class="container">
    <div class="row col-xs-12" style="color:black">
        @(HelperMethods.Title("Self Study – Kendi başına Öğrenme"))
        <br />
    </div>
    <div class="container-fluid" style="margin-top:150px">
        <div class="row">
            <!--Rounds-->
            <div class="col-xs-4" id="firstRound">
                <div style="margin-left:75px; text-align:center">
                    <i>açık<br />kaynaklara<br />başvur</i>

                </div>
            </div>
            <div class="col-xs-4" id="secondRound">
                <div style="text-align:center">
                    <i>bir proje<br />tasarla</i>
                </div>
            </div>
            <div class="col-xs-4" id="thirdRound">
                <div style="margin-left:25px; text-align:center">
                <i>gerçekleştir<br /> ve öğren!</i>
                </div>
            </div>
        </div>
        <div class="row" id="Rinfo">
            <div class="col-xs-3" style="text-align:center">
                <div id="fRinfo">
                <span>
                    W3School<br />
                    Learncfinaweek<br />
                    Udemy<br />
                    Coursera<br />
                    Adobe Help<br />
                    MS Community<br />
                    Vs.
                </span>
                </div>
            </div>
            <div class="col-xs-4" style="text-align:center">
                <div id="sRinfo">
                <span>
                    İlk projen bu<br />
                    kağıtları webe<br />
                    taşımak olsun.
                </span>
                </div>
            </div>

            <div class="row col-xs-5" style="margin-top:100px; text-align:right" ;>
                @Html.ActionLink("Sonraki Sayfaya Devam Et", "Page7", "Form", null, new { @class = "btn btn-success btn-lg" })
            </div>

        </div>
    </div>
</div>
<div style="margin-top:40px"></div>