﻿
@{
    ViewBag.Title = "Page12";
}
<style>
    #dot {
        margin-top: 40px;
        margin-left: 50px;
        text-align: center;
        width: 78px;
        height: 78px;
    }

        #dot span {
            font: bold 25px arial;
            color: white;
        }

        #dot br {
            font-size: 18px
        }

    #metin {
        font-size: 25px;
        margin-top: 100px;
        text-align: center;
        margin-right: 100px
    }
</style>
<div class="container-fluid">
    <div id="tumSayfa" style="margin-top:100px">

        <div class="row col-md-2 col-xs-12" style="margin-left:100px">
            <img src="~/Resources/Page12/w3.png" />
        </div>
        <div class="row col-md-1 col-xs-6">
            <div style="background-image:url(../../Resources/Page12/erpDot.png)" id="dot">
                <br />
                <span>ERP</span>
            </div>
        </div>
        <div class="row col-md-1 col-xs-6">
            <div style="background-image:url(../../Resources/Page12/crmDot.png)" id="dot">
                <br />
                <span>CRM</span>
            </div>
        </div>
        <div class="row col-md-1 col-xs-6">
            <div style="background-image:url(../../Resources/Page12/hrDot.png)" id="dot">
                <br />
                <span>HR</span>
            </div>
        </div>
        <div class="row col-md-1 col-xs-6">
            <div style="background-image:url(../../Resources/Page12/pmsDot.png)" id="dot">
                <br />
                <span>PMS</span>
            </div>
        </div>
        <div class="row col-md-1 col-xs-6">
            <div style="background-image:url(../../Resources/Page12/pamDot.png)" id="dot">
                <br />
                <span>PAM</span>
            </div>
        </div>
        <div class="row col-md-1 col-xs-6">
            <div style="background-image:url(../../Resources/Page12/cmsDot.png)" id="dot">
                <br />
                <span>CMS</span>
            </div>
        </div>
        <div class="row col-md-1 col-xs-6">
            <div style="background-image:url(../../Resources/Page12/biDot.png)" id="dot">
                <br />
                <span>BI</span>
            </div>
        </div>
        <div class="row col-md-1 col-xs-6">
            <div style="background-image:url(../../Resources/Page12/b2bDot.png)" id="dot">
                <br />
                <span>B2B</span>
            </div>

        </div>
        <div class="row col-md-1 col-xs-6">
            <div style="background-image:url(../../Resources/Page12/iotDot.png)" id="dot">
                <br />
                <span>IoT</span>
            </div>
        </div>
        <div class="row col-md-1 col-xs-6">
            <div style="background-image:url(../../Resources/Page12/plusDot.png)" id="dot">
                <br />
                <span>+</span>
            </div>
        </div>
        <br />
        <div id="metin">
            <span>Dijital Ekonomi ve Endüstri 4.0 çağına hazırlanan işletmelerin sistemi.</span>
        </div>
    </div>
</div>

