﻿
@{
    ViewBag.Title = "Page11";
}

<div class="container">
    <div class="row col-md-9 col-xs-12">
        <img src="~/Resources/Page11/gitPlan.png" />
    </div>
    <div class="row col-md-3 col-xs-12">
        @HelperMethods.Title("Git olmadan geliştirim yapılmaz!","gray")
        <br /><br />
        <p style="font-size:22px; color:dimgray">
            Birden fazla kişi ve takım
            aynı proje üzerinde
            güvenli biçimde
            çalışmasını sağlamak,
            versiyon yönetimi
            yapmak ve çok sayıda
            sunucu üzerindeki
            sürümleri yönetmek ve
            takip etmek için git
            kullanıyoruz.
        </p>
        <br />
        <div style="text-align:right">
        @Html.ActionLink("Sonraki Sayfaya Devam Et", "Page12", "Form", null, new { @class = "btn btn-success btn-lg" })
        </div>
    </div>
</div>

