﻿
@{
    ViewBag.Title = "Page9";
}
<style>
    #orange {
        color: orange;
        font-size: 15px;
        margin-right: 15px;
        margin-left: 15px
    }

    #hiza {
        margin-bottom: 20px
    }
</style>
<div class="container">
    <div class="row col-xs-12" style="color:black">
        @HelperMethods.Title("Workcube Catalyst geliştirimi yapmak isteyenler", "gray")
        <br />
        @HelperMethods.Title("aşağıdaki araç setine sahip olmalıdır", "gray")

        <div style="margin-top:40px; font-size:25px; color:dimgray">
            <div class="col-md-3 col-xs-12">
                <span>Kod Editörü – IDE /</span>
                <br /><br />
                <span>Sürüm Kontrolü /</span>
                <br /><br />
                <span>DB Yönetimi /</span>
                <br /><br />
                <span>Yayın /</span>
                <br /><br />
                <span>Tarayıcı /</span>
            </div>
            <div class="col-md-9 col-xs-12">
                <div id="hiza">
                    <img src="~/Resources/Page9/dw.png" />
                    <span>DreamWeaver </span>
                    <span id="orange"> veya </span>
                    <img src="~/Resources/Page9/cf.png" />
                    <span>CFBuilder </span>
                    <span id="orange"> veya </span>
                    <img src="~/Resources/Page9/vsc.png" />
                    <span>Visual Studio Code </span>
                </div>
                <div id="hiza">
                    <img src="~/Resources/Page9/git.png" />
                    <span id="orange"> ve </span>
                    <img src="~/Resources/Page9/st.png" />
                    <span>SourceTree </span>
                    <span id="orange"> ve </span>
                    <img src="~/Resources/Page9/bb.png" />
                    <span>Bitbucket </span>
                </div>
                <div id="hiza">
                    <img src="~/Resources/Page9/sql.png" />
                    <span>SQL Management Studio </span>
                    <span id="orange"> veya </span>
                    <img src="~/Resources/Page9/rg.png" />
                    <span>Redgate </span>
                </div>
                <div id="hiza">
                    <img src="~/Resources/Page9/cfs.png" />
                    <span>ColdFusion Server Developer Edition </span>
                    <span id="orange"> ve </span>
                    <img src="~/Resources/Page9/ııs.png" />
                    <span>IIS Server </span>
                </div>
                <div id="hiza">
                    <img src="~/Resources/Page9/chrome.png" />
                    <span>Chrome </span>
                    <span id="orange"> veya </span>
                    <img src="~/Resources/Page9/safari.png" />
                    <span>Safari </span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid" style="text-align:right;">
    @Html.ActionLink("Sonraki Sayfaya Devam Et", "Page10", "Form", null, new { @class = "btn btn-success btn-lg" })
</div>




