﻿
@{
    ViewBag.Title = "Page10";
}
<style>
    #footer {
        color: gray;
        font: italic 25px arial;
        margin-top: 20px;
        margin-left: 100px
    }
</style>
<div class="container">


    @HelperMethods.Title("Workcube Catalyst geliştiriciler aşağıdaki", "gray")
    <br />
    @HelperMethods.Title("Dillere / uygulamalara hakim olmalıdırlar.", "gray")
    <br /><br />
    <div class="container-fluid">
        <div class="row col-xs-12" style="text-align:center">
            <img style="width:1000px; height:250px" src="~/Resources/Page10/techs.png" />
            <div id="footer">
                <span>Web hibrid yapıdadır. Önyüz-Orta Katman-Arka Ofis iç içe geçer. </span><br />
                <span>Workcube Kütüphanesi işinizi kolaylaştırır.</span>
            </div>
            <div style="text-align:right; margin-top:25px;margin-bottom:25px">
                @Html.ActionLink("Sonraki Sayfaya Devam Et", "Page11", "Form", null, new { @class = "btn btn-success btn-lg" })
            </div>
        </div>

    </div>
</div>
