﻿@model Page5View
@{
    ViewBag.Title = "Page5";
}
@using (Html.BeginForm())
{
    <div class="container">
        <div class="row col-xs-12 bilgi" style="color:black">
            @HelperMethods.Title("Kendini tanımla ?")
            <br /><br />
            <i>a-Tek bir cümle ile;</i>
            <br />
            <div style="margin-bottom:10px;">
                @Html.TextAreaFor(x => x.Onesentence.answer, new { id = "cumle", rows = 7, style = "background-image:url(../Resources/HelperMethod/bosluk.png); background-position:center; background-repeat:no-repeat; width:1200px" })
            </div>
            <i>a-Tek bir kelime ile;</i>
            <br />
            <div style="margin-bottom:10px;">
                @Html.TextAreaFor(x => x.Oneword.answer, new { id = "kelime", rows = 7, style = "background-image:url(../Resources/HelperMethod/bosluk.png); background-position:center; background-repeat:no-repeat; width:1200px" })
            </div>

        </div>
    </div>
    <div class="container-fluid" style="text-align:right;">
        <input type="submit" value="Sonraki Sayfaya Devam Et" class="btn btn-success" />
    </div>
}
