﻿@model QuestionView
@{
    ViewBag.Title = "Page7";
}
@using (Html.BeginForm())
{
    <div class="container">
        <div class="row col-xs-12" style="color:black">
            @HelperMethods.Title("İlk projeni ve yol haritanı yaz!")
            <div style="margin-bottom:10px;">
                @Html.TextAreaFor(x => x.answer, new { id = "road", rows = 10, style = "background-image:url(../Resources/HelperMethod/bosluk.png); background-position:center; background-repeat:no-repeat; width:1200px" })
            </div>
            <div style="margin-bottom:10px;">
                <b style="font: italic bold 30px arial">Eğer bir projen yoksa bu belgeyi dijitalleştir</b>
                <ol type="1" style="font: italic 25px arial">
                    <li>
                        Bilgisayarında Workcube Catalyst ortamı yarat! (@Html.ActionLink("8.Sayfaya Bak", "Page8", "Form"))
                    </li>
                    <li>
                        Uygun geliştirim ortamı edin. (@Html.ActionLink("9.Sayfaya Bak", "Page9", "Form"))
                    </li>
                    <li>
                        Workcube Catalyst’in kullandığı teknolojilerle tasarla ve geliştir. (@Html.ActionLink("10.Sayfaya Bak", "Page10", "Form"))
                    </li>
                    <li>
                        Git’e koy ve bize davetiye gönder. (@Html.ActionLink("11.Sayfaya Bak", "Page11", "Form"))
                    </li>
                    <li>
                        İşi kap, işe başlamadan ödülü al
                    </li>
                </ol>
            </div>
        </div>
    </div>
    <div class="container-fluid" style="text-align:right;">
        <input type="submit" value="Sonraki Sayfaya Devam Et" class="btn btn-success" />
    </div>
}