﻿@{
    ViewBag.Title = "Page1";
}

<div class="container">
    <div class="row">    
        <div class="col-xs-12" style="color:black">
            <div class="row">
                @HelperMethods.Title("Hoş geldin Developer!")
            </div>
            <br style="font-size: 10px" />
            <div class="row">
                <i style="color: red; font-size: 36px">Seninle çalışabilmemiz için bir temelin olmalı!</i>
            </div>
            <br style="font-size: 10px" />
            <div class="row">
                <ol type="1" style="font-style: italic; font-size: 36px">
                    <li>Web Script dilleri : HTML, CSS, JS</li>
                    <li>SQL ve ilişkisel veri tabanları hakkında bilgi.</li>
                    <li>Sunucu taraflı bir Web Dili: PHP / .Net / CFML / JSP / Python</li>
                    <li>Internet mimarisi ve teknolojileri hakkında bilgi</li>
                    <li>Güven, cesaret ve çok çalışmak.</li>
                </ol>
            </div>
            <div class="row" style="text-align:right">
                @Html.ActionLink("Sonraki Sayfaya Devam Et", "Page2", "Form", null, new { @class = "btn btn-success btn-lg" })
            </div>
        </div>
    </div>
</div>
